
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    {% block title %}<title>Bibliography</title>{% endblock %}

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="shortcut icon" href="#">

    <script type="text/javascript">
      Tanselle = {};
    </script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js">  </script>    
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js">  </script> 
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>    
    <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css"rel="stylesheet" type="text/css" />  

</head>

<body>

<div class="container_fluid">

    <form method="get">
        {% csrf_token %}
  
        <div class="row grid-buffer">
  
            <div class="col-md-6">
  
              <div class="form_field_container" id="search_area">
                <select class="form-control medium_field manage_search" id="search_field" name="search_field">
                  <option value="Author">Author</option>
                  <option value="Title">Title</option>
                  <option value="Tags">Tags</option>
                </select>
                <input type="text" class="form-control manage_search medium_field" id="search_term"  name="search_term">
                <button type="submit" name="search" value="search" class="btn btn-primary manage_search" id="search"><span class="fa fa-search" aria-hidden="true"></span> Search</button>
                <button type="submit" name="reset" value="reset" class="btn btn-primary manage_search" id="reset"><span class="fa fa-search" aria-hidden="true"></span> Reset</button>
              </div>
  
            </div>
  
            <div class="col-md-6">
  
              <div class="form_field_container float-lg-right" id="new_button_area">
                <div class="button_container">
                  <button type="button" class="btn btn-primary manage_search" id="new" onclick="location.href='/bibnew'"><span class="fal icon_spacer"></span> New Entry</button>
                  {% comment %} <button type="button" class="btn btn-primary manage_search" id="export" onclick="location.href='/Repositories/export_repositories'"><span class="fal icon_spacer"></span> Export</button> {% endcomment %}
                </div>
                {% comment %} <select class="form-control medium_field manage_search" id="status_filter" name="status_filter" onChange="this.form.submit();">
                  <option value="All">All</option>
                  <option value="Unresearched">Unresearched</option>
                  <option value="Researched">Researched</option>
                  <option value="Duplicate">Duplicate</option>
                  <option value="Could Not Find Online">Could Not Find Online</option>
                </select> {% endcomment %}
              </div>
  
            </div>
  
        </div>
        
    </form>
  
    <div class="row justify-content-center grid-buffer">
  
        <div class="table-responsive top-buffer">
  
            <table class="table table-striped">
  
                  <tr class="table_header">
                      <th class="string_sortable">Author</th>
                      <th class="string_sortable">Title</th>
                      <th class="string_sortable">Tags</th>
                      <th class="number_sortable">Year</th>
                      <th></th>
                      <th></th>
                  </tr>
  
              {% for data in bibs %}
                <tr> 
                  <td>{{ data.author }}</td>
                  {% if data.url %}
                    <td><a href='{{ data.url }}' target="_blank"> {{ data.title }}</a></td>
                  {% else %}
                    <td>{{ data.title }}</td>
                  {% endif %}
  
                  <td>{{ data.tags }}</td>
                  <td>{{ data.year }}</td>
                  <td><a href='/bibedit/{{ data.pk }}'"> Edit</a></td>
                  <td><a href='/bibdelete/{{ data.pk }}'"> Delete</a></td>
                </tr>
              {% endfor %}
  
            </table>
                    
        </div>

    </div>

</div>

</body>

<script>

  $(document).ready(function() {
    kwb = {};

  });

  function getCellValue(row, index) {

    return $(row).children('td').eq(index).text()
    
  }

  $('.string_sortable').click(function () {

    var table = $(this).parents('table').eq(0)
  
    var rows = table.find('tr:gt(0)').toArray().sort(comparer($(this).index()))
  
    kwb.asc = !kwb.asc
  
    if (!kwb.asc) {
        rows = rows.reverse()
    }
  
    for (var i = 0; i < rows.length; i++) {
        table.append(rows[i])
    }
  
  })
  
  function comparer(index) {
  
    return function (a, b) {
  
        var valA = getCellValue(a, index), valB = getCellValue(b, index)
  
        return $.isNumeric(valA) && $.isNumeric(valB) ? valA - valB : valA.localeCompare(valB)
  
    }
  }

</script>

</html>